@import-normalize;

:root {
   --black1: #161616;
   --black2: #222222;
   --black3: #2a2a2a;
   --gray1: #979797;
   --gray2: #868686;
   --white1: #fff;
   --purple1: #3927ff;
   --orange1: #ffa883;
   --fzS: 16px;
   --fzM: 18px;
   --fzL: 20px;
}
